.producto-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
  }
  

  .carrito-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
  }
  
  .carrito-item {
    margin-bottom: 5px;
  }
  
  
  .mensaje-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    width: 300px;
  }
  
  .producto-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
  }
  
  .imagen {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .producto-info {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
  }